@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/stacked-waves-haikei.svg');
  background-repeat: repeat-y;
  background-size: cover;
}

#logo {
  color: #fdf6f0;
  font-family: 'Cherry Bomb One', system-ui;
  padding: 10px;
  font-size: 55px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.grid-square {
  color: brown;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  box-sizing: border-box;
}

.head {
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
#colorSel {
  display: flex;
  gap: 20px;
  color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  align-items: center;
}
/* select{
  background-color: ;
} */
select:hover {
  background-color: #ff709d;
}
.btns {
  display: flex;
  gap: 20px;
}
button,select {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  background-color: #c2185b; /* or try #C2185B */
  color: white;
  border: 1px solid #c2185b;
  border-radius: 10px;
  padding: 10px;
}
select{
  padding: 8px;
}
button:hover {
  transform: scale(1.2);
  background-color: #ff709d;
}
